<mat-toolbar color="primary" class="mat-elevation-z6">
    <div class="toolbar-container">
      <!-- <img src="assets/images/UFRJ.jpg" alt="UFRJ" /> -->
  
      <div class="pull-right">
        <h1 class="mat-headline" style="line-height: 0.6em; text-align: right;">
           Time Series Analyzer
          <br />
          <small class="mat-small"
            >Developed by Rony Szuster
            <!-- <img
              style="vertical-align: middle; width: 10%;"
              src="assets/images/rony.png"
              alt="Rony Szuster"
            /> -->
          </small>
        </h1>
      </div>
    </div>
  </mat-toolbar>