
  <mat-expansion-panel hideToggle>

    <mat-expansion-panel-header>
      <mat-panel-title>
        Indicator Configuration
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>


    <!-- <div *ngFor="let analysis of namesTypes; let i = index">

      <mat-checkbox (change)="calculationsToBeDone($event)" [checked]="meanChecked"> {{registers}}</mat-checkbox>

    </div>  -->


    <mat-checkbox (change)="calculationsToBeDone($event)" [checked]="meanChecked"> Mean</mat-checkbox>
    <mat-checkbox (change)="calculationsToBeDone($event)" [checked]="medianChecked"> Median</mat-checkbox>
    <mat-checkbox (change)="calculationsToBeDone($event)" [checked]="modeChecked"> Mode</mat-checkbox>
    <mat-checkbox (change)="calculationsToBeDone($event)" [checked]="kurtosisChecked"> Kurtosis</mat-checkbox>
    <mat-checkbox (change)="calculationsToBeDone($event)" [checked]="skewnessChecked"> Skewness</mat-checkbox>
    <mat-checkbox (change)="calculationsToBeDone($event)" [checked]="sdChecked"> Standard Deviation</mat-checkbox>  
    <mat-checkbox (change)="calculationsToBeDone($event)" [checked]="varianceChecked"> Variance</mat-checkbox>
    <mat-checkbox (change)="calculationsToBeDone($event)" [checked]="lowerQuartileChecked"> Lower Quartile</mat-checkbox>
    <mat-checkbox (change)="calculationsToBeDone($event)" [checked]="upperQuartileChecked"> Upper Quartile</mat-checkbox>
    


  </mat-expansion-panel>
