
<mat-grid-list cols="3" gutterSize=".6rem" rowHeight="fit">
  <mat-grid-tile>
      <button mat-flat-button color="accent" (click)="toggleCSV()"><mat-icon>add</mat-icon> Add CSV file</button>
  </mat-grid-tile>
  <mat-grid-tile>
      <button mat-flat-button color="accent" (click)="toggleConfig()"><mat-icon>create</mat-icon>Configure Indicators</button>
  </mat-grid-tile>
  <mat-grid-tile>
      <button mat-flat-button color="accent" (click)="toggleReports()"><mat-icon>add</mat-icon> See Reports</button>
  </mat-grid-tile>
</mat-grid-list>


<!-- 
<app-new-tag-attribute (triggerUpdateTable)="triggerGetDataframeData()"></app-new-tag-attribute>

<app-tag-attribute-config></app-tag-attribute-config>

<app-edit></app-edit>

<app-add-rule2 (triggerUpdateTable)="triggerGetDataframeData()"></app-add-rule2> -->
