
<mat-grid-list cols="3" gutterSize=".6rem" rowHeight="fit">
  <mat-grid-tile>
      <button mat-flat-button color="accent" (click)="toggleNewTagAttribute()"><mat-icon>add</mat-icon> Add CSV file</button>
  </mat-grid-tile>
  <mat-grid-tile>
      <button mat-flat-button color="accent" (click)="toggleNewRule()"><mat-icon>add</mat-icon>  Configure Indicators</button>
  </mat-grid-tile>
  <mat-grid-tile>
      <button mat-flat-button color="accent" (click)="toggleTagAttributeConfig()"><mat-icon>add</mat-icon> See Reports</button>
  </mat-grid-tile>
  <!-- <mat-grid-tile>
      <button mat-flat-button color="accent" (click)="toggleEdit()"><mat-icon>create</mat-icon> Edit Analysis Row</button>
  </mat-grid-tile>
  <mat-grid-tile>
      <button mat-flat-button color="primary" (click)="openDialog()" ><mat-icon>remove</mat-icon> Delete Row Analyses</button>
  </mat-grid-tile> -->
  <!-- <mat-grid-tile>
      <button (click)="openTableau()" mat-flat-button color="accent"><mat-icon>add</mat-icon> Open Reports</button>
  </mat-grid-tile>  -->
</mat-grid-list>


<!-- 
<app-new-tag-attribute (triggerUpdateTable)="triggerGetDataframeData()"></app-new-tag-attribute>

<app-tag-attribute-config></app-tag-attribute-config>

<app-edit></app-edit>

<app-add-rule2 (triggerUpdateTable)="triggerGetDataframeData()"></app-add-rule2> -->
